<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6aUVjYeNha1LKVdztHny6dv3HY3HfzLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>781829365820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gibland.app</string>
	<key>PROJECT_ID</key>
	<string>c219-6514317006</string>
	<key>STORAGE_BUCKET</key>
	<string>c219-6514317006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781829365820:ios:da0475cb960f1af857a339</string>
</dict>
</plist>